body{
	background-color: #232323;
}

h1{
	color: white;
	text-align: center;
}

.square{
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	width: 30%;
	margin: 1.66%;
}

.container{
	margin: 0 auto;
}
