body{
    background-color: #232323;
}

.square{
    background-color: blue;
    padding-bottom: 30%;
    width: 30%;
    margin: 1.66%;
    float: left;
}

.container{
    margin: 0 30px;
}

h1{
    color: white;
}
